---
import { SOCIALS } from "@config";
import LinkButton from "./LinkButton.astro";
import socialIcons from "@assets/socialIcons";
import clsx from "clsx";

export interface Props {
  centered?: boolean;
  highlightOnHover?: boolean;
  wide?: boolean;
}

const { centered = false, highlightOnHover, wide } = Astro.props;
---

<div
  class={clsx(
    `social-icons ${centered ? "flex flex-row" : ""}`,
    wide && "space-x-4"
  )}
>
  {
    SOCIALS.filter(social => social.active).map(social => (
      <LinkButton
        href={social.href}
        className={clsx(
          "link-button",
          highlightOnHover && "hover:bg-skin-inverted"
        )}
        title={social.linkTitle}
      >
        <Fragment set:html={socialIcons[social.name]} />
      </LinkButton>
    ))
  }
</div>

<style>
  .social-icons {
    @apply flex-wrap justify-center gap-1;
  }
  .link-button {
    @apply p-2 hover:rotate-6 sm:p-1;
  }
</style>
